* { margin: 0;
padding: 0;
border: 0;
}
section{
  width: 1200px;
}
body {
  background-image: url('../image/marble.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
}

h4 {
  padding-bottom: 20px;
  color: #800020;
}

main {
  text-align: center;
  padding-top: 40px;
  font-family: 'Open Sans';
  font-size: 16px;
  display: block;
  width: 100%;
}

img{
max-width: 300px;
height: auto;
padding: 30px;
text-align: center;
}

nav {
  background-color: #808080;
  text-align: left;
  color: white;
  font-size: 20px;
  padding: 15px;
  width: 1000px;
  z-index: auto;
  font-family: 'Open Sans', sans-serif;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: ;
  color: #800020;

}

a {
  padding: 20px;
}


h3 {
  font-size: 25pt;
  line-height: .5;
  padding-bottom: 20px;
  padding-top: 25px;
  padding-left: 35px;
  color: #800020;
  font-family: 'Open Sans', sans-serif;
}

p {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
}

ul {
  padding-bottom: 20px;
}
footer {
  background-color: #800020;
  color: white;
  text-align: center;
  font-family: 'open sans';
  width: 100%;
  height: 20px;
  position: absolute;
}
